:root {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.page-root {;
    background-color: white;
}

.page-header {
    width: 100%;
}

.nav-link {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
}

.page-section {
    height: 892px;
}

#primary-heading {
    font-size: 36px;
    line-height: 54px;
    user-select: none;
    letter-spacing: 0.25em;
}

#primary-heading #designer-name {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.365em;
}

.section-heading {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.6em;
    user-select: none;
}

.about-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#contact-form {
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

.form-input {
    width: 270px;
    height: 50px;
    margin-bottom: 32px;
}

.left-input {
    margin-right: 120px;
}

#message-input {
    resize: none;
    width: 100%;
    height: 150px;
}

#submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 60px;
    background-color: #0076B1;
}

.small-text {
    font-family: 'Lato', sans-serif;
}

.brand-icon {
    height: 52px;
    width: 52px;
}